<!DOCTYPE html>
<html lang="en">

<head>

  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>Bodymovin Demo</title>

  <!--  Styles  -->
  <link rel="stylesheet" href="{{ static_url('styles/index.css') }}">
</head>

<body>

  <!-- <div id="bm" style="width:1067px;height:600px"> </div> -->

  <!-- Scripts -->
  <script src="{{ static_url('node_modules/@lottiefiles/lottie-player/dist/lottie-player.js')}}"></script>
  <lottie-player 
    src="{{ static_url('data.json')}}"  
    background="transparent"  
    speed="1"  
    style="width: 900px; height: 700px;"  
    loop controls autoplay>
  
  </lottie-player>
</body>

</html>